@font-face {
  font-family: "Montserrat";
  font-weight: normal; // 400
  font-style: normal;
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: normal; // 400
  font-style: italic; // Italic
  src: url('fonts/Montserrat-Italic.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500; // Medium
  font-style: normal;
  src: url('fonts/Montserrat-Medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700; // Bold
  font-style: normal;
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800; // ExtraBold
  font-style: normal;
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Songer";
  font-weight: 900; // Heavy
  font-style: normal;
  src: url('fonts/SONGER_SE_Heavy.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: "BebasNeue";
  font-weight: bold; // Bold
  font-style: normal;
  src: url('fonts/BebasNeue-Bold.ttf') format('truetype');
  font-display: swap;
}