@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin center_VH {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin isometric($height) {
  // based on: https://codepen.io/jpex/full/YYGyMr
  height: calc(#{$height} * .86602);
  left: 50%;
  transform: translateX(-50%) rotate(-30deg) skew(30deg);
  transform-origin: center center;
}

@mixin center_img($max-height: none) {
  &__image {
    // &--image is a <picture>
    height: 100%;
    max-height: $max-height;
    max-width: 100%;
    display: flex;

    img {
      // applies to <source> and <img>
      height: 100%;
      width: 100%;
      object-fit: cover;
      @content;
    }
  }
}

// MEDIA QUERY MANAGER
/*
0 - 320px:      Small (old) Phone
320 - 600px:    Phone
600 - 1000px:    Tablet portrait
1000 - 1200px:   Tablet landscape
1200 - 1440px:   Maximum nav menu length
[1440 - 1800]   ROOT DESIGN (Desktop)
1800px + :      Big desktop

$breakpoint argument choices:
- sm-phone
- phone
- tab-port
- tab-land
- max-menu
- big-desktop
*/

@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @if $breakpoint == "big-desktop" {
      @media only screen and (min-width: $breakpoint-value) { @content; }
    }
    @else {
      @media only screen and (max-width: $breakpoint-value) { @content; }
    }
  }
  @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @include respond($fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}
