// COLORS
$color-primary: #27216A;
$color-primary-light: #686497;
$color: #443e83;
// $color-primary-dark: #1b174a;
$color-primary-dark: #13121B;

$color-secondary-light-1: #FF8EA1;
$color-secondary-light-2: #FFBCC7;
// $color-secondary-dark: #ff7730;


$color-tertiary-light: #687CF0;
$color-tertiary-dark: #5468E1;

$color-gray-light-1: #F8F8FF;
$color-gray-light-2: #D1D1D1;
// $color-gray-light-3: #fff;

// $color-gray-dark-1: #777;
// $color-gray-dark-2: #999;
// $color-gray-dark-3: #333;

$color-text-dark: #384986;
$color-text-light: #fff;

$color-white: #fff;
$color-black: #000;


// FONT

/** KEEP THE FOLLOWING ORDER OF MEDIA QUERIES:
  null
  max-menu
  tab-land
  tab-port
  phone
  sm-phone
  big-desktop

  This is because most queries are max-width except for "big-desktop".
*/

$breakpoints: (
  max-menu: 90em,
  tab-land: 75em,
  tab-port: 62.5em,
  phone: 37.5em,
  sm-phone: 20em,
  big-desktop: 112.5em
);

$font-sizes-h1: (
  null: 5.2rem,
  max-menu: 5.2rem,
  tab-land: 5.2rem,
  tab-port: 5.2rem,
  phone: 5.5rem,
  sm-phone: 5.5rem,
  big-desktop: 5.2rem
);

$font-sizes-h2: (
  null: 3.8rem,
  max-menu: 3.8rem,
  tab-land: 3.8rem,
  tab-port: 3.8rem,
  phone: 4.5rem,
  sm-phone: 4.5rem,
  big-desktop: 3.8rem
);

$font-sizes-h3: (
  null: 2.6rem,
  max-menu: 2.6rem,
  tab-land: 2.6rem,
  tab-port: 2.6rem,
  phone: 4rem,
  sm-phone: 4rem,
  big-desktop: 2.6rem
);

$font-sizes-default: (
  null: 2rem,
  max-menu: 2rem,
  tab-land: 2rem,
  tab-port: 2rem,
  phone: 3.5rem,
  sm-phone: 3.5rem,
  big-desktop: 2rem
);

$font-sizes-nav: (
  null: 1.8rem,
  max-menu: 1.8rem,
  tab-land: 1.8rem,
  tab-port: 4rem,
  phone: 6rem,
  sm-phone: 6rem,
  big-desktop: 1.8rem
);

$font-sizes-form-input: (
  null: 1.5rem,
  max-menu: 1.5rem,
  tab-land: 1.5rem,
  tab-port: 1.8rem,
  phone: 3.5rem,
  sm-phone: 3.5rem,
  big-desktop: 1.8rem
);

$font-sizes-form-label: (
  null: 1.2rem,
  max-menu: 1.2rem,
  tab-land: 1.2rem,
  tab-port: 1.5rem,
  phone: 2.5rem,
  sm-phone: 2.5rem,
  big-desktop: 1.8rem
);

// $font-size-default: 2rem; // 20px
// $font-size-nav: 1.8rem; // 18px

// @include respond(sm-phone) {
//   $font-size-h1: 13rem;
//   $font-size-h2: 9.5rem;
//   $font-size-h3: 6.5rem;

//   $font-size-default: 3.5rem; // 14px
//   $font-size-nav: 6rem; // 24px
// }

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extrabold: 800;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;

// COMPONENTS
// feature-box
$box-width: 20em;
$box-height: 46em; // $box-width * 2.3
$box-border-radius: 2em;
$box-margin: 2.4em 0 0 7.8em;

@include respond(phone) {
  $box-width: 40rem;
  $box-height: 92rem; // $box-width * 2.3
  $box-border-radius: 2rem;
  $box-margin: 2.4rem 0 0 7.8rem;
}