.section-features {
  padding-top: 5rem;
  padding-bottom: 11rem;

  .heading-primary {
    width: 60rem;
  }

  @include respond(phone) {
    text-align: center;
    align-items: center;

    .heading-primary {
      width: 100%;
    }

    .column {
      margin: 0 auto;
    }
  }
}