.footer {
  padding: 5rem 0;
  height: 30rem;
  background-color: $color-black;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include respond(phone) {
    display: none;
  }

  &__logo {
    width: 18rem;
  }

  &__links-1, &__links-2 {
    ul {
      list-style: none;
      .navigation__link {
        color: $color-text-light;
      }
      .inactive {
        color: rgba($color-text-light, .5);
      }
    }
  }

  &__social {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }

    .social {
      filter: invert(100%) sepia(13%) saturate(4092%) hue-rotate(179deg) brightness(100%) contrast(106%); // $color-gray-light-1 #F8F8FF
      transition: all .1s;
    }

    &:hover .social {
        // transform: scale(1.2);
        filter: invert(100%) sepia(13%) saturate(4092%) hue-rotate(179deg) brightness(50%) contrast(106%);
    }
  }
}