.container {
  max-width: $grid-width;

  @include respond(tab-land) {
    max-width: none;
    width: 90%;
  }

  @include respond(tab-port) {
    width: 100%;
    padding: 0 5rem;
  }

  @include respond(phone) {
    width: 100%;
    padding: 0 2rem;
  }
}