.header {
  margin-top: 10rem;
  color: $color-text-light;

  .no-webp &.header--main {
    // NOTE: Requires the Modernizr library with WebP feature detection

    background: url(/img/hero2_2560w.jpg) no-repeat center top,
      linear-gradient(to top, $color 0%, $color-primary 100%);

    @include respond(max-menu) {
      background: url(/img/hero2_1440w.jpg) no-repeat right top,
        linear-gradient(to top, $color 0%, $color-primary 100%);
    }

    @include respond(tab-land) {
      background: url(/img/hero2_1000w.jpg) no-repeat right top,
        linear-gradient(to top, $color 0%, $color-primary 100%);
    }

    @include respond(phone) {
      background: url(/img/hero2_600w.jpg) right top no-repeat,
        linear-gradient(to top, $color 0%, $color-primary 100%);
    }
  }

  .webp &.header--main {
    // NOTE: Requires the Modernizr library with WebP feature detection
    
    background: url(/img/hero2_2560w.webp) no-repeat center top,
      linear-gradient(to top, $color 0%, $color-primary 100%);

    @include respond(max-menu) {
      background: url(/img/hero2_1440w.webp) no-repeat right top,
        linear-gradient(to top, $color 0%, $color-primary 100%);
    }

    @include respond(tab-land) {
      background: url(/img/hero2_1000w.webp) no-repeat right top,
        linear-gradient(to top, $color 0%, $color-primary 100%);
    }

    @include respond(phone) {
      background: url(/img/hero2_600w.webp) right top no-repeat,
        linear-gradient(to top, $color 0%, $color-primary 100%);
    }
  }

  &.header--404 {
    min-height: 80vh;
    color: $color-text-light;
    background: url(/img/hero404_2.svg) right 25rem top 10rem/30rem auto no-repeat,
      linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);

    @include respond(max-menu) {
      background: url(/img/hero404_2.svg) right 25rem top 10rem/30rem auto no-repeat,
      linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);
    }

    @include respond(tab-land) {
      background: url(/img/hero404_2.svg) right 15rem top 10rem/30rem auto no-repeat,
        linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);
    }

    @include respond(tab-port) {
      background: url(/img/hero404_2.svg) center top 50rem/60rem auto no-repeat,
        linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);
    }

    @include respond(phone) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(/img/hero404_2.svg) center bottom -55rem/60rem auto no-repeat,
        linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);
      
      .header__text-box {
        height: 100vh;
        position: relative;

        .btn {
          position: absolute;
          bottom: 35rem;
          transform: translateX(-50%);
        }
      }
    }
  }

  &.header--thank-you {
    min-height: 80vh;
    color: $color-text-light;
    background: url(/img/thanks2.svg) right 25rem top 20rem/77rem auto no-repeat,
      linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);

    @include respond(max-menu) {
      background: url(/img/thanks2.svg) right 25rem top 20rem/77rem auto no-repeat,
      linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);
    }

    @include respond(tab-land) {
      background: url(/img/thanks2.svg) right 15rem top 20rem/77rem auto no-repeat,
        linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);
    }

    @include respond(tab-port) {
      background: url(/img/thanks2.svg) center bottom/80rem auto no-repeat,
        linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);
    }

    @include respond(phone) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(/img/thanks2.svg) center center/120rem auto no-repeat,
        linear-gradient(to top, $color-primary-light 0%, $color-primary 100%);
      
      .header__text-box {
        height: 100vh;
        position: relative;

        .btn {
          position: absolute;
          bottom: 35rem;
          transform: translateX(-50%);
        }
      }
    }
  }
  
  @include respond(phone) {
    text-align: center;
    margin-top: 12.5rem;
    background: linear-gradient(to top, $color 0%, $color-primary 100%);

    .column,.columns {
      width: 100%;
      margin: 0;
      padding: 0 5rem;
    }
  }

  @include respond(sm-phone) {
    margin-top: 12.5rem; // 50px
    background: linear-gradient(to top, $color 0%, $color-primary 100%);
  }

  &__text-box {
    padding: 13rem 0;
    z-index: 20;

    p span {
      display: inline-block;
      line-height: 3rem;
    }

    @include respond(tab-port) {
      padding-bottom: 25rem;
    }

    @include respond(phone) {
      padding-top: 20rem;
      padding-bottom: 50rem;

      p span {
        display: inline-block;
        line-height: 4.25rem;
        padding: 0 5rem;

        &:not(:last-of-type) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
