.hero {
  // .hero is usually a <div>
  // dimensions
  width: 100%;
  height: 50vh; // maintain 50% of viewport until portrait mode (mobile)
  // style
  background-color: $color-gray-light-1;
  overflow: hidden;
  
  @include center_img();
}

@include respond(phone) {
  .hero {
    height: 100vw;
  }
}