.navigation {
  // dimensions
  height: 10rem;
  width: 100%;
  // position
  position: fixed;
  top: 0;
  z-index: 9999;
  // style
  background-color: $color-primary;
  box-shadow: 0 .2rem .5rem .2rem rgba($color-primary, .5);
  // animations
  transition: all .3s;

  &.scrolling {
    height: 8rem;
  }

  @include font-size($font-sizes-nav);

  // CONTAINER: Center vertically and horizontally
  .container {
    @include center_VH;
  }

  // LEFT SIDE
  // LOGO: Position in center
  &__logo {
    float: left;
    position: relative;

    a {
      margin: auto 0;
    }

    img {
      position: absolute;
      display: inline-block;
      top: 50%;
      transform: translateY(-10%);
      width: 19rem;

      @include respond(tab-port) {
        width: 30rem;
      }
    }

    &-helper {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // RIGHT SIDE
  // Align navigation menu elements
  &__menu {
    float: right;
    position: relative;

    & > *:not(:last-child) {
      // separate nav, lang, and cta-button
      margin-right: 2.6rem;
    }

    .footer__links-3 {
      display: none;
    }
  }

  &__nav {
    display: inline-block;
  }

  &__list {
    margin: auto;
    list-style: none;
    text-align: center;
  }

  &__item {
    list-style: none;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  // NAV LINKS: Styling
  &__link {
    &,
    &:link,
    &:visited {
      // style:
      display: inline-block;
      // font-size: $font-size-default;
      font-weight: normal;
      color: $color-text-light;
      text-decoration: none;
      position: relative;
      transition: all 0.3s;

      &.active {
        &::after {
          opacity: 1;
        }
      }
    }

    &:hover {
      transform: translateY(-0.3rem);

      &::after {
        transform: translateY(0.5rem) scaleX(1.1);
        opacity: 1;
      }
    }

    &::after {
      content: ""; /*required*/
      background-color: $color-text-light;
      display: inline-block;
      position: absolute;
      width: 100%;
      height: .1rem;
      bottom: .2rem;
      left: 0;
      opacity: 0;

      transition: all 0.3s;
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &.inactive {
      cursor: pointer;
      pointer-events: none;
      color: rgba($color-text-light, .5);

      &::after {
        opacity: 0;
      }
    }

    &.selected::after {
      opacity: 1;
    }
  }

  // LANGUAGE LINKS: positioning
  &__lang {
    display: inline-block;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  // HAMBURGER Icon
  &__hamburger {
    display: none;
    font-size: 0;
    top: 5.8rem;
    right: 4rem;
    position: absolute;
    z-index: 10000;
    
    $hamburger-size: 4rem;
    height: $hamburger-size;
    padding-top: calc(#{$hamburger-size / 2});
    margin-top: calc(-1 * #{$hamburger-size / 2});
  }

  &__hamburger-icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 5.75rem;
      height: 2px;
      background-color: $color-white;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -1.5rem; }
    &::after { top: 1.5rem; }
  }

  // CALL TO ACTION BUTTON
  &__cta {
    display: inline-block;
  }
}

// MOBILE VIEW
@include respond(tab-port) {

  // CLOSED NAVBAR
  .navigation {
    height: 12.5rem;
    transition: all .5s;

    &.scrolling {
      height: 12.5rem;
    }

    &__hamburger {
      display: inline-block;
    }

    .container {
      // remove padding and take over whole navbar
      height: 100%;
      width: 100%;
      padding: 0;
    }

    &__logo {
      position: absolute;
      top: 4rem;
      left: 4rem;

      img {
        height: 5.25rem;
      }
    }

    &__logo-helper {
      display: none;
    }

    &__menu {
      display: none;
    }
  }

  // OPEN NAVBAR
  .navigation.open {
    // when nav is open
    height: 100vh;
    background-color: $color-black;

    .container {
      height: 100%;
      width: 100%;
      padding: 0;
      position: relative;
    }

    .navigation {

      & ~ .social {
        width: 8rem;
      }

      &__menu {
        // max-height: 80%;
        display: block;
        text-align: center;
        padding-top: 4rem;
        @include center_VH;

        & > * {
          margin: 0;
        }

        .footer {

          &__links-3 {
            padding-top: 13rem;
            display: inline-block;

            .social {
              width: 8rem;
            }
          }

          &__social:not(:last-of-type) {
              margin-right: 8rem;

              @include respond(sm-phone) {
                margin-right: 4rem;
              }
          }
        }
      }

      &__nav {
        height: 70rem;
      }

      &__list {
        margin: 0;
        padding: 0;
        display: table;
        width: 100%;
        height: 100%;
      }

      &__item {
        display: table-row;
        margin-bottom: auto;
        & > * {
          margin-bottom: auto;
        }
      }

      &__lang {
        display: block;
      }

      &__cta {
        display: none;
      }

      &__hamburger-icon {
        background-color: transparent;

        &::before {
          top: 0;
          transform: rotate(180deg - 45deg);
        }

        &::after {
          top: 0;
          transform: rotate(-180deg + 45deg);
        }
      }
    }
  }

  // .social {
  //   width: 8rem;
  // }
}