.section-products {
  padding: 5rem 0;
  background: url(/img/bubble_02_949w.svg) right 60rem top 110rem/94.9rem auto no-repeat,
  url(/img/bubble_03_1109w.svg) right 45rem bottom 27rem/110.9rem auto no-repeat;
}

.section-product-solution {
  padding: 17rem 0;
  background:
    url(/img/bubble_04_693w.svg) right 0rem top 55rem/69.3rem auto no-repeat,
    url(/img/bubble_05_635w.svg) left -12rem bottom -10rem/63.5rem auto no-repeat;
}

.section-product-task {
  padding: 0;
  margin: 0;
}

.section-product-result {
  padding: 0;
  margin: 0;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70rem;
  align-items: center;

  &--reverse {
    // TODO: Remove class and implement using nth-child of .section-products > .container
    flex-direction: row-reverse;
  }

  &:not(:last-of-type) {
    margin-bottom: 15rem;
  }

  &__description {
    flex: 0 1 40%;
  }

  &__heading {
    /**
      special classes for product titles:
      - pre appears above image when on mobile
      - post appears above text when on desktop

      TODO: Convert to css grid
    */
    &--pre {
      display: none;
    }

    @include respond(phone) {
      &--pre {
        display: inline-block;
      }

      &--post {
        display: none;
      }
    }
  }

  &__shape {
    // image shape dimensions
    background-color: rgba($color-primary, 0.5);
    height: 100%;
    width: 50%;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0;
    position: relative;
  }

  @include center_img();
}

@include respond(tab-port) {
  .product {
    &__shape {
      height: 75rem;
    }
  }
}

@include respond(phone) {
  .product {
    flex-direction: column-reverse;
    justify-content: space-around;
    height: auto;

    &--reverse {
      flex-direction: column-reverse;
    }

    &__description, &__shape {
      min-width: 100%;
    }

    &__description {
      margin-top: 3rem;
      height: 100%;
    }
  }
}

.product-task {
  // dimensions
  height: 70rem;
  // position
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // style
  background-color: $color-white;

  &__text {
    // dimensions
    flex: 0 1 calc(#{$grid-width / 2});

    @include respond(tab-land) {
      flex: 0 1 calc(90%/2);
    }
    // position
    align-self: center;
    padding-right: 8rem;
  }

  &__shape {
    // dimensions
    flex: 0 1 50%;
    // position
    background-position: center center;
    // style
    background-color: $color-gray-light-1;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  @include center_img(70rem);
}

.product-solution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70rem;
  align-items: center;

  &--reverse {
    flex-direction: row-reverse;
  }

  &:not(:last-of-type) {
    margin-bottom: 15rem;
  }

  &__description {
    width: 40%;
  }

  &__shape {
    background-color: rgba($color-primary, 0.5);
    height: 100%;
    width: 50%;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0;
    position: relative;
  }

  @include center_img();
}

@include respond(phone) {
  .product-solution {
    flex-direction: column;
    justify-content: space-around;
    height: auto;

    &--reverse {
      flex-direction: column;
    }

    &__description, &__shape {
      width: 100%;
    }

    &__shape {
      height: 90rem;
    }

    &__description {
      margin-top: 3rem;
      height: 100%;
    }
  }
}

.product-result {
  /**
    TODO: Combine product__result with product__task, section-product-task/-result to be more DRY
  */
  // dimensions
  height: 70rem;
  // position
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  // style
  background-color: $color-primary;
  color: $color-white;

  &__text {
    // dimensions
    flex: 0 1 calc(#{$grid-width / 2});

    @include respond(tab-land) {
      flex: 0 1 calc(90%/2);
    }
    // position
    align-self: center;
    padding-left: 8rem;
  }

  &__shape {
    // dimensions
    flex: 0 1 50%;
    // position
    background-position: center center;
    // style
    background-color: $color-gray-light-1;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  @include center_img(70rem);
}

@include respond(tab-port) {
  .product-task, .product-result {
    &__text {
      flex: 0 1 50%;
    }

    &__image {
      max-height: 100vw;
      flex: 0 0 50%;
    }

    &__image img {
      // max-height: 100%;
    }
  }
}

@include respond(phone) {
  .product-task, .product-result {
    flex-direction: column;
    height: auto;

    &__text {
      padding: 5rem 2rem;
      flex: 0 1 100%;
    }

    &__image {
      flex: 0 0 100%;
      width: 100vw;
      height: 100vw;

      img {
        // width: 100%;
        max-height: 100%;
      }
    }
  }
}

