.btn {
  &,
  &:link,
  &:visited {
    /* remove default <a> tag styling */
    display: inline-block;
    text-transform: none;
    text-decoration: none;
    color: $color-primary;
    // padding: .9rem 1rem;
    border-radius: 2rem;
    transition: all 0.2s; /* enables smooth animation without keyframes */
    position: relative; /* to hide pseudo-elements behind it */
    font-weight: $font-weight-bold;

    // for <button> elements:
    border: none;
    cursor: pointer;

    @include respond(tab-port) {
      padding: 2rem 1rem;
    }
  }

  &:hover {
    color: $color-white;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.5);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  /* fancy button glow on hover */
  &::after {
    content: ''; /*required*/
    display: inline-block; /*required*/
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    /* place behind current button */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all 0.4s; /*enable animation*/
  }

  &--pink {
    background-color: $color-secondary-light-1;
    color: $color-text-light;

    &::after {
      background-color: $color-secondary-light-1;
    }
  }

  &--sm {
    &,
    &:link,
    &:visited {
      font-size: 1.4rem;
      padding: 1.5rem 2rem;
      border-radius: 2rem;
    }
  }

  &--lg {
    &,
    &:link,
    &:visited {
      line-height: 2.4rem;
      padding: 3rem 4rem;
      border-radius: 3rem;

      @include respond(phone) {
        line-height: 4.25rem;
        padding: 3.25rem 6.25rem;
        border-radius: 4.25rem;
      }
    }

    &::after {
      border-radius: 3rem;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /* make animation delay work as expected */
  }
}

.btn-text {
  &,
  &:link,
  &:visited {
    // style:
    display: inline-block;
    color: $color-primary;
    font-weight: 700;
    padding: .5rem 1rem;
    margin-left: -1rem;
    // text-decoration: none;
    position: relative;
    transition: all 0.3s;

    &:not(:last-of-type) {
      margin-right: 2rem;
    }

    span {
      opacity: 0;
    }
    
    &:hover {
      transform: translate(1rem, -0.2rem);
      color: $color-white;
      background-color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);

      span {
        opacity: 1;
      }
    }
  }

  &--light {
    &,
    &:link,
    &:visited {
      color: $color-white;

      &:hover {
        color: $color-primary;
        background-color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.8);
  
        span {
          opacity: 1;
        }
      }
    }
  }
}
