.card-lg {

  &__shape {
    background-color: rgba($color-primary, 0.5);
    height: 50rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0;
    margin-bottom: 2.6rem;
    position: relative;
  }

  @include center_img();

  &__heading {
    margin-bottom: 2rem;
  }
}

.card-sm {
  // card image for team members

  &__shape {
    background-color: rgba($color-primary, 0.5);
    height: 36rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    position: relative;

    @include respond(phone) {
      height: 48rem;
    }
  }

  @include center_img() {
    transition: all .2s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; // fix animation shake

    a img {
      height: 5rem;
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image--social {
    // apply .card-sm__image--social to <picture> for effect
    transform: scale(1.1);
    filter: blur(3px) brightness(50%);
  }

  &:hover &__image img {
    transform: scale(1.1);
  }

  &__heading {
    margin-bottom: 1rem;
  }
}

.card {
  background-color: $color-primary;
  text-align: center;
  border-radius: 1rem;
  // height: 52rem;
  width: 100%;
  padding: 4rem 4rem;
  transition: all .3s;

  &:hover {
    background-color: lighten($color-primary, 10%);
  }

  &__img {
    width: 10rem;
    margin-bottom: 4rem;
    transition: all .3s;

    @include respond(phone) {
      width: 20rem;
      margin-bottom: 10rem;
    }
  }

  &:hover &__img {
    transform: scale(1.1);
  }

  &__text {
    color: $color-text-light;
    line-height: 3rem;
    text-align: left;

    @include respond(phone) {
      line-height: 4.25rem;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    flex: 0 1 35rem;
  }
}

@media only screen and (max-width: 49em) {
  .cards {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;

    .card {
      display: inline-block;
      flex: none;
      width: 35rem;
      position: relative;

      &:first-of-type {
        margin-left: 5rem;
      }
      &:not(:last-of-type) {
        margin-right: 4rem;
      }
      &:last-of-type::after {
        content: "";
        position: absolute;
        right: -5rem;
        height: 100%;
        width: 5rem;
      }
    }
  }
}

@include respond(phone) {
  .cards .card {
    width: 50rem;

    &:first-of-type {
      margin-left: 2rem;
    }
    &:last-of-type::after {
      right: -2rem;
      width: 5rem;
    }
  }
}