.feature-box {
  // dimensions and position
  font-size: 1rem;
  width: 100%;

  @include respond(tab-port) {
    font-size: .8rem;
  }

  @include respond(phone) {
    font-size: 1.3rem;
  }
  height: $box-height;
  position: relative;

  &__top {
    width: $box-width;
    height: $box-width;
    border-radius: $box-border-radius;

    @include isometric($box-width);
    // position
    position: absolute;
    // style
    font-family: "Songer";
    background-color: $color-tertiary-light;
    z-index: 30;
    // animation
    transition: all .3s;
  }

  &__text {
    // text on top of box
    // dimensions and position
    @include center_VH;
    // style
    font-size: calc(#{ $box-width - 14.8em });
    line-height: calc(#{ $box-width - 19em });
    display: inline;
    color: $color-text-light;
    z-index: 40;
    cursor: default;
    // animation
    transition: all .5s;

    &--blurred {
      color: transparent;
      text-shadow: 0 0 1rem $color-text-light;
    }
  }

  &__side {
    width: calc(#{$box-width + (2 * 6.22em)});
    height: 5em;
    top: 8.5em;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center center;
    position: absolute;
    background-color: $color-tertiary-dark;
    z-index: 20;
  }

  &__bottom {
    width: $box-width;
    height: $box-width;
    border-radius: $box-border-radius;
    @include isometric($box-width);
    background-color: $color-tertiary-dark;
    position: absolute;
    top: 5em;
    z-index: 10;
    box-shadow: -7em 6em 0 0 $color-primary;
    transition: box-shadow .5s;
  }

  &__description {
    width: 100%;
    position: absolute;
    top: calc(#{$box-height * .75});
    text-align: center;
    p {
      @include font-size($font-sizes-default);
    }
  }
}

.feature-box:hover {
  .feature-box__top {
    transform: translateY(-2%) translateX(-50%) rotate(-30deg) skew(30deg);
    background-color: lighten($color-tertiary-light, 5%);
  }
  .feature-box__bottom {
    box-shadow: -7em 6em .2em 1em $color-primary;
  }
  .feature-box__top, .feature-box__text {
    color: lighten($color-text-light, 5%);
  }
  .feature-box__text--blurred {
    color: transparent;
  }
}