.form {
  &__group:not(:last-child) {
    // add margins only between form group elements
    margin-bottom: 2rem;
    position: relative;

    textarea {
      border: 1px solid $color-gray-light-2;
      border-radius: 4px;
      padding: 6px 10px;
      width: 100%;
      resize: vertical;
    }

    @include respond(phone) {
      margin-bottom: 4rem;
    }
  }

  &__input,
  &__textarea {
    font-size: 1.5rem;
    font-family: inherit;   // inherit font properties
    color: inherit;         // inherit font properties
    padding: 1.5rem 2rem;
    border: 1px solid $color-gray-light-2;
    border-radius: 4px;
    width: 100%;
    display: block; // take up whole line

    &:focus {
      outline: none; // remove ugly light-blue highlight
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border: 1px solid red;
      }
    }

    @include font-size($font-sizes-form-input);
  }

  &__label {
    font-size: 1.2rem;
    position: absolute;
    top: -1rem;
    left: .6rem;
    background-color: $color-white;
    padding: 0 .5rem;
    font-weight: 400;
    transition: transform .3s, background-color .3s .2s;

    &::after {
      content: attr(data-end) ;
      color: red;
    }

    @include font-size($font-sizes-form-label);

    @include respond(phone) {
      top: -2rem;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 400;
    transform: translateY(1.6rem);
  }
  
  &__textarea:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 400;
    transform: translateY(1.6rem);
  }

  &__checkbox {
    // see https://freefrontend.com/css-checkboxes/
    // TODO: create custom checkbox
    cursor: pointer;
    flex: none;
    margin-right: 1rem;
  }

  &__checkbox-label {
    display: flex;
    cursor: pointer;
    font-weight: 400;
    @include font-size($font-sizes-form-label);
  }

  &__btn {
    width: 100%;
    text-align: center;
  }
}

// @include respond(phone) {
//   .form {
//     padding: 4rem 1rem;
//   }
// }