.anchor {
  /**
   * Anchor Link Offset:
   * Uses anonymous <a> elements to help offset position of tagged sections
   * Usage:
   *
   *    <a href="#about">About Us</a>
   *    ...
   *    <section class="section-about">
   *      <h1>About</h1>
   *      <a class="anchor" id="about"></a>
   *      ...
   *
   */
  display: block;
  position: relative;
  top: -15rem;
  visibility: hidden;
}