.image {
  background-color: rgba($color-primary, 0.5);

  &__shape {
    height: 77rem;
    width: 100%;
    overflow: hidden;

    &--rounded {
      border-radius: 1rem;
    }

    &--padded {
      margin: 2rem;
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-25%);
  }
}

@include respond(phone) {
  .image {

    &__shape {
      width: 100%;

      &--padded {
        margin: 0;
      }
    }

    &__img {
      transform: translateX(0);
    }
  }
}