/* reset everything */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
}

/* set-up root styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(max-menu) {
    font-size: 53%;
  }
  @include respond(tab-land) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 40%;
  }
  @include respond(phone) {
    font-size: 25%;
  }
  @include respond(sm-phone) {
    font-size: 25%;
  }



  // TODO: Finish adding root font-size media queries
}

body {
  box-sizing: border-box; /* this way, the width/height of elements will include paddings/border-width too */

  // TODO: remove padding from body in mobile version
}
