body {
  font-family: 'Montserrat', DejaVu Sans, Verdana, sans‑serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-text-dark;

  @include font-size($font-sizes-default);

  ::selection {
    color: $color-text-light;
    background: $color-primary;
  }
}

.heading-primary {
  // for h1, h2
  font-family: 'Songer', Arial Black, sans-serif;
  margin-bottom: 0;
  line-height: 6.8rem;

  @include font-size($font-sizes-h1);
}

.heading-secondary {
  // for h3
  font-family: 'Songer', Arial Black, sans-serif;
  margin-bottom: 3rem;

  @include font-size($font-sizes-h2);
}

.heading-tertiary {
  // for h4
  font-family: "Montserrat", DejaVu Sans, Verdana, sans‑serif;
  font-weight: 800;
  margin-bottom: 2rem;

  @include font-size($font-sizes-h3);
}