.u-text-uppercase { text-transform: uppercase !important; }

.u-margin-b-sm { margin-bottom: 1.6rem !important; } // 1.6
.u-margin-b-md { margin-bottom: 2rem !important; }  // TODO: Set this to default
.u-margin-b-lg { margin-bottom: 3rem !important; } // 3
.u-margin-b-xl { margin-bottom: 4rem !important; } // 4
.u-margin-b-xxl { margin-bottom: 5rem !important; } // 5

@include respond(tab-port) {
  .u-margin-b-xxl { margin-bottom: 8rem !important; } //
}

.u-margin-b-xxxl { margin-bottom: 8rem !important; } // 8

.u-margin-t-sm { margin-top: 1.6rem !important; }
.u-margin-t-md { margin-top: 2rem !important; }
.u-margin-t-lg { margin-top: 3rem !important; }
.u-margin-t-xl { margin-top: 4rem !important; }
.u-margin-t-xxl { margin-top: 5rem !important; } // 5
.u-margin-t-xxxl { margin-top: 8rem !important; }

.u-margin-l-xl { margin-left: 7rem !important; } // 7

.u-width-lg { width: 60rem !important; }

.u-img-align-r { margin-left: 10rem !important; }