main {
  background-color: $color-gray-light-1;
}

// .section-technologies {
//   padding: 5.7rem 0;
//   background-color: $color-secondary-light-2;

//   .technologies__text {
//     margin-left: 7rem;

//     @include respond(phone) {
//       margin-left: 0;
//     }
//   }

  // .technologies__heading {
  //   &--pre {
  //     display: none;
  //   }

  //   @include respond(phone) {
  //     &--pre {
  //       display: inline-block;
  //     }

  //     &--post {
  //       display: none;
  //     }
  //   }
  // }
// }

.section-technologies {
  padding: 5.7rem 0;
  background-color: $color-secondary-light-2;

  .technologies__heading {
    &--pre {
      display: none;
    }

    @include respond(phone) {
      &--pre {
        display: inline-block;
      }

      &--post {
        display: none;
      }
    }
  }
}

.section-departments {
  padding: 5.7rem 0;
  background: url(/img/bubble_01_935w.svg) right 25rem bottom -50rem/93.5rem auto no-repeat;
  background-color: $color-white;
}

.section-partners {
  padding: 5rem 0;

  .partners {
    background-color: $color-primary;
    margin-top: 4rem;
    height: 100%;
    & > div {
      height: 100%; // for centering
    }
  }

  .partner {
    $partner-gap: 4rem;

    &__wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: $partner-gap;

      :not(:last-child) {
        margin-right: $partner-gap;
      }
    }

    &__item {
      margin-top: $partner-gap;
      width: min-content;
    }

    &__img {
      height: 6rem;
    }

    @include respond(tab-port) {

      &__img {
        height: 8.4rem;
      }
    }
  }
}

.section-team {
  padding: 5rem 0;
  // TODO: Add background bubbles

  .team__member:nth-child(5) {
    margin-left: 0;
  }

  .team {
    &__perks {
      @media only screen and (max-width: 49em) {
        &.container {
          padding: 0;
        }
      }
    }
  }

  @media screen and (max-width: 49em) {
    .team {
      &__perks {
        padding: 0;
        position: relative;
        
        &::before {
          content: "";
          position: absolute;
          z-index: 10;
          left: 0;
          height: 100%;
          width: 5rem;
          background: $color-white;
          background: linear-gradient(90deg, rgba($color-white,1) 0%, rgba($color-white,1) 50%, rgba($color-white,0) 100%);
        }
        &::after {
          content: "";
          position: absolute;
          z-index: 11;
          right: 0;
          top: 0;
          height: 100%;
          width: 5rem;
          background: $color-white;
          background: linear-gradient(270deg, rgba($color-white,1) 0%, rgba($color-white,1) 50%, rgba($color-white,0) 100%);
        }

        .cards {
          position: relative;
        }
      }
    }
  }

  @include respond(phone) {
    .team__perks {
      &::before {
        width: 2rem;
      }
      &::after {
        width: 2rem;
      }
    }
  }

  @include respond(phone) {
    .team {
      &__members {
        .row {
          height: 80rem;
          overflow-x: scroll;
          display: flex;
        }
      }

      &__member {
        display: inline-block;
        flex: 0 0 auto;
        width: 40%;
        max-width: 45rem;
  
        &:nth-child(5) {
          margin-left: 0;
        }
  
        &:not(:last-of-type) {
          margin-right: 2rem;
        }
      }
    }
  }
}

.section-contact {
  color: $color-text-light;
  padding: 5rem 0;
  background: url(/img/hero_770w.svg) left 20rem top 20rem/77rem auto no-repeat;
  background-size: 80rem;
  background-color: $color-primary;

  .container:last-of-type {
    display: flex;
    justify-content: flex-end;

    .contact {
      color: $color-primary;
      padding: 4rem 5rem;
      background-color: $color-white;
      border-radius: .6rem;
      width: 40%;

      @include respond(tab-port) {
        width: 60%;
      }

      @include respond(phone) {
        width: 100%;
        padding: 7rem 4rem;
      }
    }
  }
}